In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl

In [16]:
file_path = r"D:\SKILLS\DATA ANALYSIS PROJECT\5E INSURANCE DATA ANALYSIS\sampledatainsurance.xlsx"

In [26]:
df = pd.read_excel(file_path)

In [27]:
df.head(10)

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
0,100242,2021-01-02,Urban,NY,East,1617630,Frame,Retail,N,N
1,100314,2021-01-02,Urban,NY,East,8678500,Fire Resist,Apartment,Y,Y
2,100359,2021-01-02,Rural,WI,Midwest,2052660,Frame,Farming,N,N
3,100315,2021-01-03,Urban,NY,East,17580000,Frame,Apartment,Y,Y
4,100385,2021-01-03,Urban,NY,East,1925000,Masonry,Hospitality,N,N
5,100388,2021-01-04,Urban,IL,Midwest,12934500,Frame,Apartment,Y,Y
6,100358,2021-01-05,Urban,WI,Midwest,928300,Masonry,Office Bldg,N,N
7,100264,2021-01-07,Rural,NY,East,2219900,Frame,Farming,N,N
8,100265,2021-01-07,Urban,NY,East,14100000,Frame,Apartment,Y,Y
9,100357,2021-01-08,Urban,NY,East,4762808,Masonry,Other,Y,Y

In [28]:
df.tail(10)

,Policy,Expiry,Location,State,Region,InsuredValue,Construction,BusinessType,Earthquake,Flood
490,101116,2021-12-29,Urban,NY,East,8245000,Frame,Apartment,Y,Y
491,100216,2021-12-30,Urban,NJ,East,2432600,Frame,Retail,Y,Y
492,100389,2021-12-30,Urban,NY,East,1480000,Fire Resist,Hospitality,Y,Y
493,101117,2021-12-30,Urban,NY,East,9050000,Frame,Apartment,Y,Y
494,101120,2021-12-30,Rural,NY,East,1480755,Frame,Farming,N,N
495,101121,2021-12-31,Urban,VT,Northeast,4101750,Fire Resist,Office Bldg,Y,Y
496,101122,2021-12-31,Urban,OH,Central,1739100,Frame,Apartment,N,N
497,101123,2021-12-31,Urban,NY,East,2250000,Frame,Office Bldg,Y,Y
498,101125,2021-12-31,Urban,NY,East,16482200,Frame,Office Bldg,Y,Y
499,101126,2021-12-31,Urban,WI,Midwest,1776800,Frame,Farming,N,N

In [29]:
df.columns

Index(['Policy', 'Expiry', 'Location', 'State', 'Region', 'InsuredValue',
       'Construction', 'BusinessType', 'Earthquake', 'Flood'],
      dtype='object')

In [30]:
df.describe()

              Policy                         Expiry  InsuredValue
count     500.000000                            500  5.000000e+02
mean   100656.020000  2021-07-22 11:16:47.999999744  4.964411e+06
min    100200.000000            2021-01-02 00:00:00  3.000000e+04
25%    100411.750000            2021-04-02 06:00:00  1.603600e+06
50%    100652.500000            2021-08-31 00:00:00  2.593682e+06
75%    100894.250000            2021-11-18 06:00:00  6.005692e+06
max    101126.000000            2021-12-31 00:00:00  5.341061e+07
std       274.861014                            NaN  6.205834e+06

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Policy        500 non-null    int64
 1   Expiry        500 non-null    datetime64[ns]
 2   Location      500 non-null    object
 3   State         500 non-null    object
 4   Region        500 non-null    object
 5   InsuredValue  500 non-null    int64
 6   Construction  500 non-null    object
 7   BusinessType  500 non-null    object
 8   Earthquake    500 non-null    object
 9   Flood         500 non-null    object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 39.2+ KB

In [32]:
# Distribution of Policy Expiry Dates - Analyze how policies are distributed across different expiration dates.

In [36]:
expiration_distribution = df.groupby(df['Expiry']).size()
# the .size() method returns the number of elements in an object.
print(expiration_distribution)

Expiry
2021-01-02    3
2021-01-03    2
2021-01-04    1
2021-01-05    1
2021-01-07    2
             ..
2021-12-27    3
2021-12-28    3
2021-12-29    1
2021-12-30    4
2021-12-31    5
Length: 228, dtype: int64

In [37]:
# Frequency of Different Locations** - Calculate the distribution of policies across urban and rural locations.

In [40]:
location_frequency = df.groupby(df['Location']).size()
print(location_frequency)

Location
Rural     95
Urban    405
dtype: int64

In [41]:
# **State-wise Policy Distribution** - Analyze the number of policies in each state (NY, WI, IL, NJ).

In [43]:
state_policy_distribution = df.groupby(df['State']).size()
print(state_policy_distribution)

State
IL     14
ME      4
MI      7
MN      2
NH      7
NJ     76
NY    261
OH     14
VT     23
WI     92
dtype: int64

In [44]:
# **Regional Policy Comparison** - Compare the number of policies between the East and Midwest regions.

In [49]:
filtered_df = df[df['Region'].isin(['East','Midwest'])]
East_Midwest_Policy = filtered_df.groupby(filtered_df['Region']).size()
print(East_Midwest_Policy)

Region
East       337
Midwest    108
dtype: int64